# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# macOS
.DS_Store

# Data
data/export/
*.csv

# Proto raw sources
infra/finam/proto_src/
infra/finam/third_party/

# Logs
*.log.env
.env
venv/
FinamGrpcClientPython/venv/
.env
__pycache__/
*.pyc
.DS_Store
.idea/
*.iml

.idea/
*.iml

.idea/
*.iml
