[Unit]
Description=Run Finam Active Universe Market Bars Backfill every 5 minutes

[Timer]
OnCalendar=Mon..Fri *-*-* 06..23:0/5:00 Europe/Moscow
Persistent=true
Unit=finam-equity-market-bars.service

[Install]
WantedBy=timers.target
