[Unit]
Description=Run FinamCore Edge Discovery Autorun periodically

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
