[Unit]
Description=Run Finam Core multi-asset breakout history collector periodically

[Timer]
OnCalendar=*-*-* 00:40:00 Europe/Moscow
RandomizedDelaySec=2min
AccuracySec=1min
Persistent=true
Unit=finam-multi-asset-breakout-history.service

[Install]
WantedBy=timers.target
