[Unit]
Description=Run Finam Core Order ACK Reconciliation periodically

[Timer]
OnCalendar=Mon..Fri *-*-* 07..23:*:00
Persistent=true
AccuracySec=10s
Unit=finam-order-ack-reconcile.service

[Install]
WantedBy=timers.target
