[Unit]
Description=Run MarketCore DB scheduler every five minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=15s
Persistent=true
Unit=marketcore-db-job-scheduler.service

[Install]
WantedBy=timers.target
