[Unit]
Description=Run Runtime Operational Dashboard every 30 minutes

[Timer]
OnBootSec=7min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
